{% extends 'base.html' %}


{% block body_block %}

<div class="container-fluid">

{% if perms.auth.is_user %}
  <div class="inner-content" style="border: 1px solid #d3d7da; margin-top:10px;">
    <a href="new/"><div class="btn btn-primary">Add new project</div></a>

    {% else %}
     <div class="inner-content" style="border: 1px solid #d3d7da; margin-top:10px;">
{% endif %}

  {% if projects_list %}

{% for project in projects_list %}
<div class="thumbnail">
  <div class="caption">
    <span class="label background-color-primary pull-right"> {{ project.algorithms|length }}</span>
    <h3><a href="{% url 'projects:pdetails' %}?project={{ project.name }}">{{ project.name }}</a></h3>
      <p>

        {{ project.description }}
        </p>
  </div>
</div>
{% endfor %}

{% else %}
    <h4><p><strong>No Projects found!</strong></p></h4>
{% endif %}
  </div>
</div>

{% endblock %}


