{% extends 'base.html' %}

{% block body_block %}

<div class="container-fluid">


<div class="inner-content" style="border: 1px solid #d3d7da; margin-top:10px;">
    <form action="#" method="post">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Project name" name="pname">
        <input type="text" class="form-control" placeholder="Short description" name="sdescription">
        <textarea class="form-control" rows="10" cols="40"  placeholder="Project description" name="pdescription"></textarea>
        <input type="text" class="form-control" placeholder="Alghoritm name" name="aname">
        <a href=""><div class="btn btn-danger">Cancel</div></a>
       <input type="submit" class="btn btn-primary" value="Add" name="mybtn">
    </form>

</div>

</div>

{% endblock %}
